#root, .app-container {
  height: 100%;
}

body {
  background: white;
  background-image: url("assets/wood_background2.jpg");
  background-size: cover;
  margin: 0;
}

main {
  height: 75%;
}

a {
  text-decoration: none;
}

h1, h2, p {
  margin: 0;
}

p {
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
}

h1 {
  color: white;
  font-size: 60px;
  font-family: 'Mukta Mahee', sans-serif;
  line-height: 80px;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  color: white;
  font-family: 'Mukta Mahee', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.main-nav {
  flex: 1 1 0;
  display: flex;
  .links-container {
    // align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li {
      background: rgba(204, 204, 204, 0.5);
      display: flex;
      flex: 1;
      flex-direction: column;
      height: 100px;
      justify-content: center;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      &.active {
        background: rgba(204, 204, 204, 0.2);
        text-decoration: underline;
      }
      &:not(.active):hover {
        background: none;
        .nav-link:hover {
          color: black;
        }
      }

      .nav-link {
        font-family: 'Mukta Mahee', sans-serif;
        text-decoration: none;
        color: white;
        position: relative;
        font-size: 20px;
        text-align: center;
      }
    }
  }

  .hamburger-menu {
    display: none;
    position: absolute;
    bottom: 0;
    // right: 0;
    // left: 0;
    width: 100%;
    background: rgba(150, 149, 149, 0.95);
    min-height: 55px;
    ul {
      padding-top: 20px;
      padding-bottom: 35px;
      li {
        padding-left: 20px;
        height: 40px;
      }
    }

    .fa-bars {
      position: absolute;
      padding: 20px;
      bottom: 0;
      right: 0;
    }
  }
}

// All Pages
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 25px 60px 25px;
  justify-content: center;
}

// Home Page
.home-block {
  .header-content {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// Contact Page
.contact-block {
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  .contact-block-left {
    padding-right: 50px;
    flex:1;
    height: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-right: 2px solid white;
    h2 {
      text-align: center;
    }
  }
  .contact-block-right {
    flex:1;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 40%;
    padding-left: 50px;
    .contact-info {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-size: 35px;
      a {
        display: flex;
      }
      .fa {
        padding-right: 20px;
        color: black;
        display: flex;
      }
      p {
        margin-bottom: 0;
      }
      &:hover {
        cursor: pointer;
        .fa {
          color: white;
        }
      }
    }
  }
}

// About Page
.about-block {
  flex-direction: row;
  .pf-img {
    background-image: url("assets/wes_pf_splash2.jpg");
    background-size: contain;
    height: 391px;
    width: 322px;
  }
  .about-me {
    flex:1;
    p {
      padding: 25px;
      margin: 0;
      line-height: 45px;
    }
  }
}

// Project Page
.project {
  h1 {
    margin-bottom: 30px;
  }
}


// Smaller screens
@media only screen and (max-width: 650px) {
  ul {
    flex-direction: column;
    .links-container {
      bottom: 10px;
      li {
        height: 50px;
        font-size: 25px;
        .nav-link {
          line-height: 30px;
          width: 100%;
        }
      }
    }
  }

  // All Pages
  .content-container {
    align-items: left;
    margin-bottom: 20px;
    margin-top: 50px;
    .header-content {
      h1 {
        font-size: 60px;
        line-height: 70px;
      }
      margin-bottom: 30px;
    }

    // Contact Page
    &.contact-block {
      display: block;
      margin-left: initial;
      margin-right: initial;
      .contact-block-left {
        margin-bottom: 40px;
        padding: 0;
        height: inherit;
        border: none;
      }
      .contact-block-right {
        height: 35%;
        .contact-info {
          p {
            font-size: 20px;
          }
          a {
            align-items: center;
          }
        }
      }
    }
  }

  // About Page
  .about-block {
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
    align-items: center;
    .pf-img {
      height: 323px;
      width: 266px;
    }
    .about-me {
      p {
        padding: 25px 25px 0 25px;
        line-height: 20px;
        font-size: 20px;
      }
    }
  }
}

// Mobile Screens
@media only screen and (max-device-width: 650px) {
  // All Pages
  .content-container {
    p {
      margin-bottom: 10px;
      font-size: 17px;
    }
    .projects-container {
      flex-direction: column;
      .project-img {
        height: 200px;
        margin: 10px;
      }
    }
  }

  // Contact Page
  .contact-block {
    h1 {
      font-size: 53px;
    }
    .contact-block-right {
      height: 33%;
    }
  }

  // Main Nav
  .links-container {
    display: none !important;
  }
  .hamburger-menu {
    display: block !important;
    a {
      font-family: 'Mukta Mahee', sans-serif;
      color: black;
    }
  }
}

// Portfolio Page
.projects-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  .project-img {
    height: 300px;
    padding: 10px;
  }
}


// Helper classes
.hide {
  display: none;
}


// Slider
.slick-slider {
  height: 350px;
  width: 100%;
  .slider-img {
    height: 350px;
  }
}

.slick-slide {
  display: flex !important;
  justify-content: center;
}
