body {
  background: white;
  background-image: url("wood_background2.jpg");
  background-size: cover;
  margin: 0;
}

h1, h2, p {
  margin: 0;
}

p {
  font-family: 'Barlow Condensed', sans-serif;
  color: white;
  margin: 10px;
}

h1 {
  font-family: 'Mukta Mahee', sans-serif;
  color: white;
  font-size: 70px;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  font-family: 'Mukta Mahee', sans-serif;
  color: white;
}

.links-container {
  display: flex;
  justify-content: center;
  background: white;
  flex-direction: column;
  align-items: center;
  li {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  width: 70%;
  justify-content: space-around;
}

a {
  font-family: 'Mukta Mahee', sans-serif;
  text-decoration: none;
  color: black;
  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
  }

  &.effect-2 {
    padding: 10px;
    &:before, &:after {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-style: solid;
      border-color: black;
    }
    &:before {
      border-width: 2px 0 2px 0;
      transform:  scaleX(0);
    }
    &:after {
      border-width: 0 2px 0 2px;
      transform:  scaleY(0);
    }
    &:hover:before, &:hover:after {
      transform:  scale(1, 1);
    }
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 20px 50px 20px;
  height: 55%;
  justify-content: center;
}

.header-content {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 250px;
}

@media (max-width: 650px) {
  .links-container {
    background: white;
  }
  h1 {
    line-height: 80px;
  }
  .content-container {
    align-items: left;
    margin-bottom: 40px;
  }
  ul {
    flex-direction: column;
  }
  .links-container {
    li {
      height: 50px;
      font-size: 25px;
      flex-direction: row;
      a {
        line-height: 30px;
        &:hover {
          color: gray;
        }
        &.effect-2 {
          &:before, &:after {
            transform: none;
            border-width: 0;
          }
        }
      }
    }
  }
}
